// TO CONFIG APP
.wb-disable-pulldown-refresh {
  overscroll-behavior-y: contain;
}

.wb-config-textarea {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  background: none;
  resize: none;
}

// GENERAL STYLES
.wb-container {
  background: url('./assets/svg/grid-canvas.svg');
}

.wb-controls {
  display: flex;
  z-index: 1;
  position: fixed;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
  border: 1px solid hsla(240deg, 22%, 41%, 0.09);
  border-radius: 2rem;
  background: #fff;
  box-shadow: 0 4px 8px hsla(240deg, 17%, 16%, 0.08);
  gap: .2rem;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    outline: none;
    background: #fff;
    color: hsl(0, 0%, 20%);
    font-size: .9rem;
    cursor: pointer;
    transition: background .3s ease-out;
    &:hover {
      background: hsla(240deg, 22%, 41%, 0.09);
    }
    &:active, &.is-active {
      background: hsl(213deg, 85%, 95%);
      svg {
        color: hsl(218deg, 100%, 63%);
      }
    }
    &--rotate-45 {
      svg {
        transform: rotate(45deg);
      }
    }
    &--rotate-135 {
      svg {
        transform: rotate(135deg);
      }
    }
    &--input {
      input {
        position: fixed;
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  &__color-pck {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}