// TO CONFIG APP
.wb-disable-pulldown-refresh {
  overscroll-behavior-y: contain;
}

.wb-config-textarea {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  background: none;
  resize: none;
}

// GENERAL STYLES
.wb-container {
  background: url('./assets/svg/grid-canvas.svg');
}

.wb-controls {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 4px 8px hsla(240deg, 17%, 16%, 0.08);
  border: 1px solid hsla(240deg, 22%, 41%, 0.09);
  border-radius: 4rem;
  align-items: center;
  &__item {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background: #fff;
    font-size: 1rem;
    transition: background .3s ease-out;
    color: hsl(0, 0%, 20%);
    &:hover {
      background: hsla(240deg, 22%, 41%, 0.09);
    }
  }
}