// TO CONFIG APP
.wb-disable-pulldown-refresh {
  overscroll-behavior-y: contain;
}

.wb-config-textarea {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  background: none;
  resize: none;
}

// GENERAL STYLES
.wb-container {
  background: url('./assets/grid-canvas.svg');
}
